@page
@model Buy_And_Sell_House_Core_Webapp.Pages.Shared.Houses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Add House</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="House.HouseAddress" class="control-label"></label>
                <input asp-for="House.HouseAddress" class="form-control" />
                <span asp-validation-for="House.HouseAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="House.HousePrice" class="control-label"></label>
                <input asp-for="House.HousePrice" class="form-control" />
                <span asp-validation-for="House.HousePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
