@page
@model Buy_And_Sell_House_Core_Webapp.Pages.Shared.Buyers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Buyer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Buyer.Id" />
            <div class="form-group">
                <label asp-for="Buyer.BuyerName" class="control-label"></label>
                <input asp-for="Buyer.BuyerName" class="form-control" />
                <span asp-validation-for="Buyer.BuyerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Buyer.BuyerPhoneNumber" class="control-label"></label>
                <input asp-for="Buyer.BuyerPhoneNumber" class="form-control" />
                <span asp-validation-for="Buyer.BuyerPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
